doctype html
html(lang="en")
    head
        include 00_meta/_meta
        block title
    body
        .page
            block header
                //include 01_header/_header
            block main
                //include 02_main/_main-index
            block footer
                //include 03_footer/_footer
// Links
include 04_css-links/_css-links

// JS
include 05_js-links/_js-links