block css
link(href="css/rateit.css" rel="stylesheet")
link(href="css/style.css" rel="stylesheet")
//-
    ie stylesheet
//| <![if !IE]><link rel="stylesheet" type="text/css" href="css/ie.css" /><![endif]>
