@import "core/variables";
@import "core/mixins";
@import "core/normalize";
/*
* @section      Grid module
* @description  This section use grid
*/
@import "modules/grid";

/*
* @section      Fonts
* @description  This section holds all icon fonts stored in template
*/
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url(//fonts.googleapis.com/css?family=Exo+2:300,400,700&subset=cyrillic);


/*========================================================
                      Main Styles
=========================================================*/
/*
* @section      Main Styles
* @description  This section holds template default elements style declarations
*/
.page {
  overflow: hidden;
  .lt-ie9 & {
    min-width: 1200px;
  }
}

html {
  font-size: 70px;

  @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1) {
    font-size: 80px;
  }

  @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
    font-size: 90px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 100px;
  }
}

body {
  font-family: $default-font-family;
  font-weight: $default-font-weight;
  font-size: $default-font-size;
  line-height: $default-line-height;
  -webkit-text-size-adjust: none;
  color: $content-color;
  background: $content-bg;
}

/*-------------------------------------------------- Typography ------------------------------------------------------*/
h1, .heading-1 {
  font-size: 36px;
  line-height: 40px;
  font-family: $default-font-family;
}

h2, .heading-2 {
  font-size: 24px;
  line-height: 26px;
  font-family: $default-font-family;
}

h3, .heading-3 {
  font-size: 15px;
  line-height: 26px;
  font-family: $default-font-family;
}

p, .list, .contact-info {
  a:hover {
    text-decoration: underline;
  }
}

a {
  cursor: pointer;
}

/*=========================================================*/
/*                    Main Layout                          */
/*=========================================================*/

/*------------------- Backgrounds & colors ----------------*/
.white{
  color: $white;
}
.black{
  color: $black;
}
.default{
  color: $default;
}

.bg-white {
  background: $white;
}
.form-bg{
  background: url("../images/form-bg.png") no-repeat;
  background-size: cover;
  padding: 100px 0;
}

/*------------------- Well --------------------------------*/
.well {
  padding-top: 10px;
  padding-bottom: 10px;
}
.well2 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.well3 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.well6 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.well-brt {
  padding-top: 70px;
}
/*------------------- Offs --------------------------------*/
* + .offs-1 {
  margin-top: 10px;
}

* + .offs-3 {
  margin-top: 30px;
}

/*=========================================================*/
/*                    Components                           */
/*=========================================================*/

/*___________________ flex-container ______________________*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0 -15px;
  .flex-items{
    margin: 15px;
  }
}

/*___________________ Box _________________________________*/
.float-box {
  @include clearfix();
  &__asside {
    float: left;
  }
  &__cnt {
    overflow: hidden;
  }
}




/*___________________ text-center _________________________*/
.text-center{
  text-align: center;
  font-size: 38px;
  line-height: 38px;
  font-weight: 900;
  font-family: $default-font-family;
  text-transform: uppercase;
}


/*___________________ @import _____________________________*/

@import "components/_reviews.scss";
@import "components/_navigation.scss";
@import "components/_write-review.scss";

@import "components/_pagination.scss";
@import "components/_upload-file.scss";
@import "components/_element-form.scss";
@import "components/_button-style.scss";
@import "components/_radio-and-checkbox-style.scss";

/*=========================================================*/
/*                    HEADER  Section                      */
/*=========================================================*/
header, .page-header {
  position: relative;
  background: $header-bg;
  padding: 12px 0 10px;

  .head-section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .flex-items{
    &:nth-child(2){
      width: 220px;
      text-align: center;
    }
  }

  /*          first items style          */
  .left-title{
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    font-family: $default-font-family;
    margin-top: 35px;
    color: $default;
  }

  .master-popup,
  .tell-popup{
    position: relative;
    margin-top: 10px;
    padding-left: 40px;
    display: inline-block;
    span{
      color: $color-link;
      font-size: 18px;
      line-height: 18px;
      font-family: $default-font-family;
      border-bottom: 1px solid $color-link;
    }
    &:before{
      position: absolute;
      top: -4px;
      left: 0;
      width: 32px;
      height: 32px;
      display: block;
    }
  }
  .master-popup{
    &:before{
      content: url("../images/rul.png");
    }
  }
  .tell-popup{
    &:before{
      content: url("../images/tell.png");
    }
  }


  /*          second items style          */
  .brand{
    color: $default;
    &__head-title{
      font-size: 24px;
      line-height: 26px;
      font-weight: 700;
      font-family: $default-font-family;
    }
    &__footer-title{
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      font-family: $default-font-family;
      span{
        color: $yellow;
      }
    }
  }
  /*          three items style          */
  .work-schedule{
    color: #878787;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    font-family: $default-font-family;
    margin-top: 18px;
  }
  .tell{
    color: $default;
    display: block;
    font-size: 36px;
    line-height: 38px;
    font-weight: 700;
    font-family: $default-font-family;
  }
}

/*=========================================================*/
/*                    MAIN  Section                        */
/*=========================================================*/
main, .page-content {
  min-height: 100vh;
  background: $content-bg;
}

/*=========================================================*/
/*                    FOOTER  Section                      */
/*=========================================================*/
footer, .page-footer {
  background: $footer-bg;
  color: $footer-color;
  padding: 12px 0;
}


/*=========================================================*/
/*                    Mobile wiev                          */
/*=========================================================*/
nav{
  padding: 15px;
  background: linear-gradient(0deg, #dde4e5 30%, #f0f3f5 70%);
}

.mob-menu{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__title,
  &__dropdown{
    display: flex;
    justify-content: space-between;
  }

  &__dropdown-list{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__title{
    color: $default;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    font-family: $default-font-family;
    text-transform: uppercase;
    align-items: center;
  }
  &__btn{
    position: relative;
    border: 1px solid $default;
    border-radius: 4px;
    width: 40px;
    height: 30px;
    &:before{
      position: absolute;
      content: '\f0c9';
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      font-family: $fa;
      color: $default;
      left: 50%;
      top: 50%;
      @include transform(translateX(-50%)translateY(-50%));
    }
  }
  &__dropdown-list{

  }
}

.mob-menu{
  &.isVisible{
    display: flex;
  }
}

/*=========================================================*/
/*                    GLOBAL MEDIA                         */
/*=========================================================*/
@media (max-width: 1199px) {
  .navigation{
    &__item-wrapp{
      padding: 15px 10px;
    }
    &__img{
      margin-right: 10px;
      height: 28px;
    }
    &__title{
      width: 100px;
    }
  }

  .write-review-wrapp {
    padding: 60px 0;
  }
}

@media (max-width: 991px) {
  header.page-header{
    .head-section{
      flex-direction: column;
      margin-bottom: 20px;
      .flex-items{
        margin: 0;
        &:nth-child(1){
          display: none;
        }
        &:nth-child(2){
          order: 1;
        }
        &:nth-child(3){
          order: 3;
        }
        .left-title{
          margin-top: 0;
        }
      }
    }
  }

  .navigation{
    &__container{
      flex-direction: column;
    }
    &__item-wrapp{
      padding: 15px 10px;
    }
    &__img{
      margin-right: 15px;
      height: 41px;
    }
    &__title{
      width: 100%;
      max-width: 100%;
    }
    &__item-wrapp{
      padding-left: 35%;
    }
    &__item{
      width: 100%;
      margin: 0;
    }

    &__sub-container{
      position: relative;
      flex-direction: column;
      align-items: center;
      margin: 0;
      border: 1px solid transparent;
      background: transparent;
      &:before,
      &:after{
        display: none;
      }
    }
    &__sub-item{
      background: transparent;
    }
  }

  .review{
    flex-direction: column;
    align-items: center;
    &__cnt{
      width: 100%;
    }
  }

  .write-review{
    padding: 20px;
    &__footer{
      justify-content: space-around;
    }
    &__button{
      margin-top: 20px;
    }
  }
}

@media (max-width: 767px) {
  .navigation{
    &__item-wrapp{
      padding-left: 15px;
    }
  }

  .review{
    &__head{
      flex-direction: column;
    }
    &__rating{
      margin-top: 10px;
      justify-content: flex-start;
    }
    &__bio{
      width:100%;
    }
  }


  .write-review{
    &__wrapp{
      flex-direction: column;
    }
    &__cnt{
      margin-top: 20px;
      width: 100%;
    }

    &__footer{
      justify-content: center;
    }
    &__footer-item{
      justify-content: center;
      width: 100%;
      &:nth-child(1){
        order: 2;
        margin-top: 10px;
      }
      &:nth-child(2){
        order: 1;
      }
      &:nth-child(3){
        order: 3;
      }
    }
  }




}

@media (max-width: 479px) {
  .review{
    &__asside{
      width: 300px;
    }
    &__head{
      padding: 15px 0;
    }
    &__pre-rat{
      display: none;
    }
    &__img{
      width: 200px;
      height: 200px;
    }
    &__img--right{
      top: 0;
      border-width: 0 15px 200px 0;
    }
    &__img--left{
      top: 20px;
      border-width: 0 12px 200px 0;
    }
    &__img--bottom{
      border-width: 0 0 12px 200px;
    }
    &__text{
      padding: 20px 15px;
    }
  }

  .review__pre-rat + * {
    margin-left: 0;
  }

  .write-review{
    &__asside{
      width: 100%;
      .upload{
        label{
          width: 200px;
          height: 200px;
        }
        &__img{
          width: 80px;
          margin: 25px 0 15px;
        }
      }
    }
    &__head{
      flex-direction: column;
    }
    &__fio,
    &__location{
      width: 100%;
    }

    * + &__location{
      margin-top: 24px;
    }
  }
}